<%= form_with(model: mymail, local: true) do |form| %>
  <% if mymail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mymail.errors.count, "error") %> prohibited this mymail from being saved:</h2>

      <ul>
      <% mymail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :expired %>
    <%= form.datetime_select :expired %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
