
<% if Mail.count >0 %>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-ps66{font-size:11px;text-align:left;vertical-align:top}
.tg .tg-7hap{font-weight:bold;font-size:20px;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-7hap">Ultimo link gerado em</th>
    <th class="tg-7hap">Expira</th>
    <th class="tg-7hap" colspan="2">Tempo restante</th>
  </tr>
  <tr>
    <td class="tg-ps66"><%=@mail.created_at-3.hours%></td>
    <td class="tg-ps66"><%=@mail.expired-3.hours%></td>
    <td class="tg-ps66"><%=TimeDifference.between(DateTime.now, @mail.expired).in_hours%> horas</td>
    <td class="tg-ps66"><%=TimeDifference.between(DateTime.now, @mail.expired).in_minutes%> minutos</td>

  </tr>
</table>
<br>

<% if TimeDifference.between(DateTime.now, @mail.expired).in_minutes <=0 %>

<%= button_to "Solicitar", solicita_teste_mails_path, :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip", :method => :get %>
<%end%>      

<%else%>
<%= button_to "Solicitar", solicita_teste_mails_path, :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip", :method => :get %>
<%end%>